// font family 
$lato_font: "Lato", sans-serif;
$ubuntu_font: "Ubuntu", sans-serif;

// colors
$text_color: #333333;
$white_color: #ffffff;
$black_color: #000000;
$light_black_color: #00000040;
$light_black_color_1: #0000001a;
$primary_color: #7287ae;
$secondary_color: #504f4f;
$light_green_color: #dfedc0;

// font weight
$fw_regular: 400;
$fw_medium: 500;
$fw_semibold: 600;
$fw_bold: 700;