// input style
.hfr_input {
    font-size: 20px;
    line-height: 28px;
    font-weight: $fw_semibold;
    width: 100%;
    border: 3px solid transparent;
    padding: 16px 20px;
    border-radius: 5px;
    color: $primary_color;
    letter-spacing: 0.5px;
    &:focus{
        border: 3px solid $secondary_color;
    }
    &:focus-visible{
        outline: none;
    }
    &::placeholder{
        color: $primary_color;
    }
}

@media(max-width: 1199px){
    .hfr_input {
        font-size: 19px;
        line-height: 27px;
        padding: 14px 18px;       
    }
}

@media(max-width: 991px){
    .hfr_input {
        font-size: 18px;
        line-height: 26px;
        padding: 12px 16px;       
    }
}